<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#292929" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/css/lightgallery.min.css" integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/css/lg-zoom.min.css" integrity="sha512-vIrTyLijDDcUJrQGs1jduUCSVa3+A2DaWpVfNyj4lmXkqURVQJ8LL62nebC388QV3P4yFBSt/ViDX8LRW0U6uw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/css/lg-thumbnail.min.css" integrity="sha512-GRxDpj/bx6/I4y6h2LE5rbGaqRcbTu4dYhaTewlS8Nh9hm/akYprvOTZD7GR+FRCALiKfe8u1gjvWEEGEtoR6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/css/lg-video.min.css" integrity="sha512-89gDQOHnYjji90NPJ7+M5tgA/0E+fjL4KuSFhi6tjH6sZ54yUEogPMmOAgbI599fW1CtCyrsJbch8k/QzuoXzw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{ .title }}</title>
    <style>
        * {box-sizing: border-box;}
        body {font-family: sans-serif; background-color: #fef8f8; margin: 0; padding: 0;}
        a {border: none; text-decoration: none;}
        .header {width: 100%; height: 100px; background-color: #292929; margin: 0;}
        .header a {float: left; width: 90px; height: 90px;}
        .header a img {width: 100%; height: 100%; padding: 10px;}
        .header span {width: fit-content; float: left; color: #FFF; margin: 0; padding: 2px; font-size: 24px;}
        .header span.smaller {font-size: 15px !important;}
        .header span.smallest {font-size: 14px !important;}
        .lg-backdrop {background-color: #292929;}
        #lightgallery a { display: inline-block; width: 165px; height: 165px; background-size: cover; background-position: center; float: left; margin: 2px; padding: 2px}
        @media only screen and (max-device-width: 660px) {
            #lightgallery a {width: 32.8vw; height: 32.8vw; margin: 0.25vw; padding: 0.25vw;}
        }
    </style>
  </head>
  <body>
    <div>
        <div class="header">
            <table>
                <tr>
                    <td><a href="https://circled.me/"><img src="https://circled.me/logo-rounded-100.png"/></a></td>
                    <td>
                        <span>{{ .name }}</span><br/>
                        <span class="smaller">{{ .subtitle }}</span><br/>
                        <span class="smallest">{{ .ownerName }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="lightgallery">
    {{ range .assets }}
        {{ if eq .Type 1 }}
            <a href="asset?id={{ .ID }}&thumb=1" style="background-image: url('asset?id={{ .ID }}&thumb=1&size=220')" data-download-url="asset?id={{ .ID }}&{{ $.downloadParam }}=1"></a>
        {{ else if eq .MimeType "video/mp4" }}
            <a data-video='{"source": [{"src":"asset?id={{ .ID }}", "type":"video/mp4"}], "attributes": {"preload": false, "playsinline": true, "controls": true}}'
               data-poster="asset?id={{ .ID }}&thumb=1&size=220" style="background-image: url('asset?id={{ .ID }}&thumb=1&size=220')"
               data-download-url="asset?id={{ .ID }}&{{ $.downloadParam }}=1"></a>
        {{ end }}
    {{ end }}
    </div>    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/lightgallery.min.js" integrity="sha512-2KYdY5Sg3LCcbEnJ6JSoDyFDpgoDHPHl+4ZFE1DV23IVqiCSsjfkmuhJ0Uu6VTkvqaRtQDZ/LyhmMXvWUfymSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/plugins/zoom/lg-zoom.min.js" integrity="sha512-5u0plpLx7LGRhJ8yg3MN9v7+XAV3EVEcpolQ0j11CAuffZDFw5/O5gD6YVkQuKUcjYx8wff8YZFkSwXw9YyBpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/plugins/video/lg-video.min.js" integrity="sha512-IcVbRsj0logXKKsPhseaN7tkJqPQScNbjNSNiDik0AJcSSqeQA6+Ju5O7K6ydpxNFmBRgvUaoRVF3eOuykxAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        lightGallery(document.getElementById('lightgallery'), {
            plugins: [lgZoom, lgVideo],
            mobileSettings: {controls: false, download: true},
            speed: 500,
        });
    </script>
</body>
