<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff" />
    <title>circled.me uploader</title>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginFileValidateType
        );
    </script>
    <style>
        * {box-sizing: border-box;}
        body {font-family: sans-serif; color: #666; margin: 0; padding: 0;}
        h2 {display: block; padding: 2px; font-size: 20px; text-align: center;}
        div#content {
            max-width: 640px;
            margin: 30px auto;
        }
    </style>
</head>
<body>
    <div id="content">
        <h2>{{ .who }}'s upload</h2>
        <input type="file" id="f1" class="filepond">
        <script>
            var pond = FilePond.create(document.getElementById("f1"), {
                allowRemove: true,
                allowRevert: false,
                allowMultiple: true,
                acceptedFileTypes: ['image/jpeg','image/png','image/gif','video/*'],
                server: {
                    process: function(fieldName, file, metadata, load, error, progress, abort, transfer, options) {
                        console.log(file);
                        console.log(metadata);
                        // Generate upload URL
                        fetch("./new-url/?name="+file.name)
                            .then(response => response.json())
                            .then(asset => {
                                console.log(asset);

                                const request = new XMLHttpRequest();
                                request.open('PUT', asset.url);
                                request.upload.onprogress = (e) => {
                                    progress(e.lengthComputable, e.loaded, e.total);
                                };

                                request.onload = function () {
                                    if (request.status >= 200 && request.status < 300) {
                                        // Success - send confirmation back to our server
                                        fetch("./confirm/", {
                                            method: "POST",
                                            headers: {"Content-Type": "application/json"},
                                            body: JSON.stringify({
                                                id: asset.id,
                                                size: file.size,
                                                mime_type: file.type,
                                            })
                                        }).then(response => {
                                            if (response.ok) {
                                                // Notify FilePond
                                                load(request.responseText);
                                            }
                                        });
                                    } else {
                                        error('oh no');
                                    }
                                };
                                request.send(file);

                                return {
                                    abort: () => {
                                        request.abort();
                                        abort();
                                    },
                                };
                            });
                    }
                }
            });
        </script>
    </div>
</body>
</html>